---
import PortfolioCard from '../components/Card/PortfolioCard.astro';
import Layout from '../layouts/Layout.astro';

const portfolios = [
  {
    title: 'Chess Attack!',
    description: 'Visualize defended/attacked squares on Chess Board. Free!',
    url: 'https://chess.yzrin.com/',
    image: 'https://chess.yzrin.com/og.png',
  },
  {
    title: 'Shortly',
    description:
      'Free Open-source URL Shortener. Self deployable on Cloudflare Workers.',
    url: 'https://github.com/razrinn/shortly',
    image: 'https://sh.yzrin.com/og.png',
  },
];
---

<script>
  import { timeline, type TimelineDefinition } from 'motion';
  import { loaderAnimation } from '../lib/constants';

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title='Ray - Portfolio'
  description='My past software projects showcase'
>
  <main
    class='w-screen h-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8'
  >
    <a
      href='/'
      class='text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 mb-8 border-1 border-solid border-neutral-600 rounded-lg'
    >
      Back
    </a>
    <h1 class='text-4xl font-bold mb-8 text-neutral-100'>Portfolios</h1>
    <div class='grid grid-cols-1 md:grid-cols-2 gap-4'>
      {portfolios.map((portfolio) => <PortfolioCard {...portfolio} />)}
    </div>
  </main>
</Layout>
